* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(180, 208, 231);
    height: 700px;
}

#blocknav{
    position: fixed;
    width: 100%;
}

h1{
    text-align: center;
    font-size: xxx-large;
    padding-bottom: 2em;
    font-family: system-ui;
}

.head{
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 10em;
    
}

.container-head{
    display: flex;
    margin: 0 auto;
    padding: 40px;
}

.container-title{
    margin: 0 auto;
    padding: 40px;
    padding-top: 5em;
    display: flex;
    font-size: xx-large;
    max-width: 920px;
    font-family: system-ui;
}

.container-select{
    width: 920px;
    display: flex;
    padding: 40px;
    margin: auto;
    gap: 1em;
}

.container-main{
    width: 920px;
    padding: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 60em;
}

.list-dati{
    
}

.card-dati{
    border: 1px solid black;
    width: 15em;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dati{
    border: 1px solid black;
    width: 15em;
    justify-content: center;
    padding: 10px;
    height: 100%;
}

.info-promozione{
    display: flex;
    padding-bottom: 1em;
}

.info{
    padding-left: 1em;
}

.buttom-dati{
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.line{
    padding-top: 3em;
    padding-bottom: 3em;
    width: 30%;
    color: lightgray;
}

h3{
    font-family: system-ui;
}

.container-select i:first-child{
    color: rgb(0, 97, 255);
}

.text{
    font-size: larger;
}

.jumbo{
    max-width: 50em;
}

nav{
    position: sticky;
    background-color: white;
}

.firstnav{
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.barranav{
    flex-direction: row;
    word-spacing: 1em;
}

.buttom{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 5px 15px;
}