* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(180, 208, 231);
    height: 750px;
}

h1{
    text-align: center;
    font-size: xxx-large;
    padding-bottom: 2em;
    font-family: system-ui;
}

button:hover{
    cursor: pointer;
}

.buttom{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 5px 15px;
    max-width: 15em;
}

#navbuttom{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 5px 15px;
}

#blocknav{
    position: fixed;
    width: 100%;
}

#button-prova{
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-color: white;
}

#buttompartner{
    padding: 1em;
    background-color: white;
    border-color: white;
}

#bgcolor{
    background-color: rgb(180, 208, 231)
}

.head{
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 10em;
    
}

.container-head{
    display: flex;
    margin: 0 auto;
    padding: 40px;
}

.container-title{
    margin: 0 auto;
    padding: 40px 0;
    padding-top: 5em;
    display: flex;
    font-size: xx-large;
    max-width: 920px;
    font-family: system-ui;
}

.container-select{
    max-width: 920px;
    display: flex;
    padding: 40px 0;
    margin: auto;
    gap: 1em;
}

.azienda{
    max-width: 920px;
    display: flex;
    padding: 10px 0;
    margin: auto;
    margin-top: 2em;
    border: 1px solid lightgray;
    gap: 1em;
    justify-content: center
    
}

.container-azienda{
    max-width: 920px;
    display: flex;
    padding: 1em;
    margin: auto;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    gap: 1em;
    justify-content: space-between;
}

.container-consigli{
    max-width: 920px;
    padding: 1em;
    margin: auto;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
}

.container-main{
    max-width: 920px;
    padding: 40px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 70em;
}

.list{
    padding: 0 3em 0 3em;
}


.card-dati{
    border: 1px solid lightgray;
    max-width: 18em;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dati{
    border: 1px solid lightgray;
    max-width: 18em;
    justify-content: center;
    padding: 10px;
    height: 100%;
}

.info-promozione{
    display: flex;
    padding-bottom: 1em;
}

.info-promozione2{
    display: flex;
    padding-bottom: 1em;
    padding-top: 1em;
}

.info{
    padding-left: 1em;
}

.fa-check{
    color: rgb(0, 97, 255);
}

.buttom-dati{
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.line{
    padding-top: 3em;
    padding-bottom: 3em;
    max-width: 30%;
    color: lightgray;
}

h3{
    font-family: system-ui;
}

.container-select i:first-child{
    color: rgb(0, 97, 255);
}

.text{
    font-size: larger;
}

.jumbo{
    max-width: 70%;
    display: block;
}

nav{
    position: sticky;
    background-color: white;
}

.firstnav{
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.barranav{
    flex-direction: row;
    word-spacing: 1em;
}

.partner{
    margin: 0 auto;
    padding-top: 10em;
    padding-bottom: 15em;
    display: flex;
    max-width: 920px;
}

.contesto{
    height: 100%;
    padding-left: 13em;
    padding-top: 3em;
    flex-basis: 60%
}

.foto{
    height: 300px;
    flex-basis: 35%;
}

.container-dropoption{
    margin: 0 auto;
    padding-top: 10em;
    display: flex;
    max-width: 920px;
    gap: 3em;
    flex-wrap: wrap;
}



.intro-dropoption{
    display: flex;
    font-size: x-large;
    max-width: 920px;
    margin: auto;
}

.intro-users{
    font-size: x-large;
    max-width: 920px;
    margin: auto;
    padding-top: 4em;
    padding-bottom: 4em;
}

.link-users{
    max-width: 920px;
    margin: auto;
    padding-bottom: 4em;
}

.tessera{
    width: 17em;
    float: left;
}

.container-ditte{
}

.ditte{
    margin: 0 auto;
    padding-top: 10em;
    display: flex;
    max-width: 920px;
    gap: 3em;
    flex-wrap: wrap;
}

.prova-gratuita{
    max-width: 920px;
    display: flex;
    padding-top: 7em;
    padding-bottom: 7em;
    margin: auto;
    gap: 1em;
    justify-content: space-between;
    background-color: rgb(180, 208, 231);
}

.container-domande{
    max-width: 920px;
    display: flex;
    padding-top: 7em;
    padding-bottom: 7em;
    margin: auto;
    gap: 1em;
}

.quest{
    
}